<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--Account-->
  <datasource entity="User" name="user-info" select="Id,UserName,Name,GenderName" filter="LoweredUserName eq @p1">
    <param name="@p1" value="{{UserName.toLowerCase()}}" dataType="System.String" />
  </datasource>

  <!--Dicts-->
  <datasource entity="DictEntry" name="Genders" select="Id,Name" filter="DictName eq 'Genders'" orderby="Ordinal asc" />

</configuration>
