<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <datasource key="/Admin/Employees" entity="Employee" select="Id,Name,GenderName,Birthdate,Email,Tel,Mobile"
              orderby="{{header}} {{updown}}" pageSize="{{pageSize}}" pageIndex="{{pageIndex}}">
    <dict name="header">
      <pair key="0" value="Id" />
      <pair key="1" value="Name" />
      <pair key="2" value="Gender" />
      <pair key="3" value="Birthdate" />
      <pair key="4" value="Tel" />
      <pair key="5" value="Mobile" />
      <pair key="6" value="Email" />
    </dict>
    <dict name="updown">
      <pair key="0" value="asc" />
      <pair key="1" value="desc" />
    </dict>
    <param name="@p1" value="{{Name}}" dataType="System.String" />
    <param name="@p2" value="{{Gender}}" dataType="System.Int32" />
    <param name="@p3" value="{{Contact}}" dataType="System.String" />
    <filter>
      <item value="contains(Name,@p1)" />
      <item value="Gender eq @p2" />
      <item value="(contains(Tel,@p3) or contains(Mobile,@p3) or contains(Email,@p3))" />
    </filter>
  </datasource>

  <datasource key="/Admin/Employees/Create" entity="Employee" select="Id,Name,Gender,Birthdate,Email,Tel,Mobile,Addr,Postcode,Comment" default="default" />

  <datasource key="/Admin/Employees/Edit/{id}" entity="Employee" select="Id,Name,Gender,Birthdate,Email,Tel,Mobile,Addr,Postcode,Comment" filter="Id eq @p1">
    <param name="@p1" value="{{id}}" dataType="System.Int32" />
  </datasource>

  <datasource key="/Admin/Employees/Delete/{id}|/Admin/Employees/Details/{id}" entity="Employee" select="Id,Name,GenderName,Birthdate,Email,Tel,Mobile,Addr,Postcode,Comment" filter="Id eq @p1">
    <param name="@p1" value="{{id}}" dataType="System.Int32" />
  </datasource>

  <datasource key="/Admin/Employees/Details/{id}" name="users"
              entity="User" select="Id,UserName,IsDisabled,IsLockedOut,LastLoginDate,LastPasswordChangedDate,LastLockoutDate" filter="Id eq @p1" orderby="UserName asc">
    <param name="@p1" value="{{id}}" dataType="System.Int32" />
  </datasource>

</configuration>
