<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <datasource key="/Admin/Roles" entity="Role" select="Id,RoleName,DisplayName,Descr"
              filter="{{combine}}" orderby="{{sort}}" pageSize="{{pageSize}}" pageIndex="{{pageIndex}}">
    <dict name="combine">
      <pair key="1" value="contains(LoweredRoleName, @p1) or contains(DisplayName, @p1)" />
      <pair key="2" value="contains(LoweredRoleName, @p1)" />
      <pair key="3" value="contains(DisplayName, @p1)" />
    </dict>
    <dict name="sort">
      <pair key="1" value="RoleName asc" />
      <pair key="2" value="RoleName desc" />
      <pair key="3" value="DisplayName asc" />
      <pair key="4" value="DisplayName desc" />
      <pair key="5" value="Id desc" />
    </dict>
    <param name="@p1" value="{{word.toLowerCase()}}" dataType="System.String" />
  </datasource>

  <datasource key="/Admin/Roles/Create" entity="Role" select="RoleName,DisplayName,Descr" default="default" />

  <datasource key="/Admin/Roles/Edit/{id}" entity="Role" select="Id,RoleName,DisplayName,Descr" filter="Id eq @p1">
    <param name="@p1" value="{{id}}" dataType="System.Int32" />
  </datasource>

  <datasource key="/Admin/Roles/Delete/{id}|/Admin/Roles/Details/{id}" entity="Role" select="Id,RoleName,DisplayName,Descr" filter="Id eq @p1">
    <param name="@p1" value="{{id}}" dataType="System.Int32" />
  </datasource>

  <datasource key="/Admin/Roles/Details/{id}" name="users"
              entity="RoleUser" select="UserName,Name,GenderName,Email,Mobile" filter="RoleId eq @p1" orderby="UserName asc">
    <param name="@p1" value="{{id}}" dataType="System.Int32" />
  </datasource>

</configuration>