<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <datasource key="/Admin/SecurityLog" entity="SecurityEntry" select="Id,Operation,Contents,IsFailed,UserAgent,UserHostAddress,Accept,CreatedDate,CreatorName"
              orderby="{{header}} {{sortDirection}}" pageSize="{{pageSize}}" pageIndex="{{pageIndex}}">
    <dict name="header">
      <pair key="0" value="Id" />
      <pair key="1" value="CreatedDate" />
      <pair key="2" value="Operation" />
      <pair key="3" value="CreatorName" />
      <pair key="4" value="IsFailed" />
      <pair key="5" value="Contents" />
      <pair key="6" value="UserHostAddress" />
      <pair key="7" value="Accept" />
      <pair key="8" value="UserAgent" />
    </dict>
    <dict name="sortDirection">
      <pair key="0" value="asc" />
      <pair key="1" value="desc" />
    </dict>
    <dict name="combine">
      <pair key="1" value="contains(Contents, @p2) or contains(UserHostAddress, @p2) or contains(Accept, @p2) or contains(UserAgent, @p2)" />
      <pair key="2" value="contains(Contents, @p2)" />
      <pair key="3" value="contains(UserHostAddress, @p2)" />
      <pair key="4" value="contains(Accept, @p2)" />
      <pair key="5" value="contains(UserAgent, @p2)" />
    </dict>
    <param name="@p1" value="{{Operation}}" dataType="System.String" />
    <param name="@p2" value="{{word}}" dataType="System.String" />
    <param name="@p3" value="{{IsFailed}}" dataType="System.Byte" />
    <param name="@p4" value="{{date1}}" dataType="System.DateTime" />
    <param name="@p5" value="{{date2 + ' 23:59:59'}}" dataType="System.DateTime" />
    <param name="@p6" value="{{Operator}}" dataType="System.String" />
    <filter>
      <item value="Operation eq @p1" />
      <item value="{{'(' + combine + ')'}}" />
      <item value="IsFailed eq @p3" />
      <item value="CreatedDate ge @p4" />
      <item value="CreatedDate le @p5" />
      <item value="contains(CreatorName, @p6)" />
    </filter>

  </datasource>

  <datasource key="/Admin/SecurityLog/Details/{id}" entity="SecurityEntry" select="Id,Operation,Contents ,ErrorMessage,IsFailed,HttpMethod,Url,UrlReferrer,UserAgent,UserHostAddress,Accept,CreatedDate,CreatorName" filter="Id eq @p1">
    <param name="@p1" value="{{id}}" dataType="System.Int32" />
  </datasource>

</configuration>
