
@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<hr />

@Html.Partial("_Details")

<br />

<div class="row">
    <div class="col-sm-offset-2">
        <form id="form">
            <input class="btn btn-danger" type="submit" value="Delete" data-redirect-url="/Admin/Employees/Index" />
            <input class="btn btn-info" type="button" value="Return" onclick="javascript:history.go(-1)" />

            <div data-plugin="errorRenderer" class="col-sm-offset-1 text-danger">
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/frontend/xfront/js/xfront.js"></script>

    <script>
        $(document).ready(function () {
            $.getJSON('/api', {}, function (data, textStatus, jqXHR) {
                $('#details').renderer(data);
            });

            $(':submit').click(function (event) {
                event.preventDefault();
                $.delete('/api')
                    .done(function (data, textStatus, jqXHR) {
                        var redirect = $(':submit').attr("data-redirect-url") + window.location.search;
                        window.location.href = redirect;
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $('[data-plugin=errorRenderer]').errorRenderer(jqXHR.responseJSON);
                    });
            });
        });
    </script>
}
