
@{
    ViewBag.Title = "Employee";
}

<h2>Details</h2>

<hr />

@Html.Partial("_Details")

<hr />

<div class="row">
    <div class="col-sm-2">
        <label class="pull-right">Users:</label>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>Status</th>
                    <th>Last login</th>
                    <th>Last pwd changed</th>
                    <th>Last lockout</th>
                </tr>
            </thead>
            <tbody data-plugin="renderer" class="invisible">
                <tr>
                    <td>{{UserName}}</td>
                    <td>{{IsDisabled=='true'?'<span class="text-danger">Disabled</span>':'Enabled'}}&nbsp;&nbsp;{{IsLockedOut=='true'?'<span class="text-danger">Locked</span>':'Unlocked'}}</td>
                    <td>{{LastLoginDate}}</td>
                    <td>{{LastPasswordChangedDate}}</td>
                    <td>{{LastLockoutDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/frontend/xfront/js/xfront.js"></script>

    <script>
        $(document).ready(function () {
            $.getJSON('/json', {}, function (data, textStatus, jqXHR) {
                $('#details').renderer(data);
            });

            $.getJSON('/json?name=users', {}, function (data, textStatus, jqXHR) {
                $('#table tbody').renderer(data);
            });
        });
    </script>
}
