
*.suo
*.user

/.vs
/packages

/Entitybase.Services/obj
/Entitybase.Services/bin

/Entitybase.WebApp/bin
/Entitybase.WebApp/obj
/Entitybase.WebApp/log

/Entitybase.Commons/bin
/Entitybase.Commons/obj

/Entitybase.Client/bin
/Entitybase.Client/obj

/Entitybase.WpfApp/obj
/Entitybase.WpfApp/bin

/Entitybase.WebApp.dev.sln
/Entitybase.Services/Entitybase.Services.dev.csproj
/Entitybase.WebApp/Entitybase.WebApp.dev.csproj

