
*.suo
*.user

/.vs
/packages

/Entitybank.WebApp.Services/obj
/Entitybank.WebApp.Services/bin

/Entitybank.WebApp/bin
/Entitybank.WebApp/obj
/Entitybank.WebApp/log

/Entitybank.Commons/bin
/Entitybank.Commons/obj

/Entitybank.Client/bin
/Entitybank.Client/obj

/Entitybank.Client.Services/bin
/Entitybank.Client.Services/obj

/Entitybank.WpfApp/obj
/Entitybank.WpfApp/bin

Entitybank.WpfApp.sln
/Entitybank.Client
Entitybank.Client.Services
/Entitybank.WpfApp
