
*.suo
*.user

/.vs
/packages

/Entitybank.Services/obj
/Entitybank.Services/bin

/Entitybank.WebApp/bin
/Entitybank.WebApp/obj
/Entitybank.WebApp/log

/Entitybank.Commons/bin
/Entitybank.Commons/obj

/Entitybank.Client/bin
/Entitybank.Client/obj

/Entitybank.WpfApp/obj
/Entitybank.WpfApp/bin

/Entitybank.WpfApp.sln
/Entitybank.Client
/Entitybank.WpfApp

