<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <database type="XData.Data.Objects.MySqlDatabase,Entitybase.MySql" />

  <dbSchemaProvider type="XData.Data.Schema.MySqlSchemaProvider,Entitybase.MySql" />

  <mapper type="XData.Data.Schema.ConfigPreSufMapper">
    <fileName type="System.String" value="Entitybase/my/mapping.config" />
  </mapper>

  <schemaReviser type="XData.Data.Schema.ConfigSchemaReviser">
    <fileName type="System.String" value="Entitybase/my/revise.config" />
  </schemaReviser>

</configuration>
