<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <database type="XData.Data.Objects.OracleDatabase,Entitybank.Oracle" />

  <dbSchemaProvider type="XData.Data.Schema.OracleSchemaProvider,Entitybank.Oracle" />

  <dbSchemaReviser type="XData.Data.Schema.SequenceDbSchemaReviser">
    <format type="System.String" value="{0}_SEQ" />
  </dbSchemaReviser>

  <mapper type="XData.Data.Schema.ConfigPluralMapper">
    <fileName type="System.String" value="entitybank/sql/mapping.config" />
  </mapper>

  <schemaReviser type="XData.Data.Schema.ConfigSchemaReviser">
    <fileName type="System.String" value="entitybank/sql/revise.config" />
  </schemaReviser>

</configuration>
