<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <rename relationship="User_Employee" name="UserEmployee" />

  <remove entity="User" />
  <remove entities="User,Role" />

  <remove property="DisplayName" entity="User" />
  <remove properties="DisplayName,CreatedAt,UpdatedAt" entity="User" />

  <remove annotation="Required" property="DisplayName" entity="User" />
  <remove annotations="Required,MaxLength" property="DisplayName" entity="User" />

  <remove argument="AllowEmptyStrings" annotatio="Required" property="DisplayName" entity="User" />
  <remove arguments="MaximumLength,MinimumLength" annotatio="StringLength" property="UserName" entity="User" />

  <remove relationship="Users_Employees" />
  <remove relationships="Users_Employees,Roles_Users" />

  <add relationship="UsersRoles_Users" type="ManyToOne" entity="UsersRoles" relatedEntity="Users">
    <property name="UserId" relatedProperty="Id"/>
  </add>

  <add relationship="">

  </add>

  <replace entity="" >

  </replace>

</configuration>