<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <mapping entity="User_Role" collection="User_Roles" table="User_Roles">
  </mapping>

  <mapping entity="SecurityEntry" collection="SecurityLog" table="SecurityLog">
  </mapping>

  <mapping entity="DbLogEntry" collection="DbLog" table="DbLog">
  </mapping>

</configuration>
