<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <replace entity="Employee">
    <property name="GenderName" entity="DictEntry" property="Name" relationship="Employee(Gender)-DictEntry(Id)" />
  </replace>

  <replace entity="User">
    <property name="Name" entity="Employee" property="Name" relationship="User-Employee" />
    <property name="Gender" entity="Employee" property="Gender" relationship="User-Employee" />
    <property name="GenderName" entity="DictEntry" property="Name" relationship="User(EmployeeId)-Employee(Id),Employee(Gender)-DictEntry(Id)" />
    <property name="Email" entity="Employee" property="Email" relationship="User-Employee" />
    <property name="Tel" entity="Employee" property="Tel" relationship="User-Employee" />
    <property name="Mobile" entity="Employee" property="Mobile" relationship="User-Employee" />
    <property name="Addr" entity="Employee" property="Addr" relationship="User-Employee" />
    <property name="Postcode" entity="Employee" property="Postcode" relationship="User-Employee" />
    <property name="Comment" entity="Employee" property="Comment" relationship="User-Employee" />
  </replace>

  <replace entity="DictEntry">
    <property name="DictName" entity="Dict" property="Name" relationship="DictEntry-Dict" />
  </replace>

  <add entity="RoleUser" collection="RoleUsers" table="User_Roles" primaryKey="RoleId">
    <property name="UserId" column="UserId" dataType="System.Int32" allowDbNull="false" />
    <property name="RoleId" column="RoleId" dataType="System.Int32" allowDbNull="false">
      <annotation name="Key" />
    </property>
    <property name="LoweredRoleName" entity="Role" property="LoweredRoleName" relationship="RoleUser-Role" />
    <property name="UserName" entity="User" property="UserName" relationship="RoleUser-User" />
    <property name="Name" entity="Employee" property="Name" relationship="RoleUser-Employee" />
    <property name="Gender" entity="Employee" property="Gender" relationship="RoleUser-Employee" />
    <property name="GenderName" entity="DictEntry" property="Name" relationship="RoleUser-Employee,Employee(Gender)-DictEntry(Id)" />
    <property name="Email" entity="Employee" property="Email" relationship="RoleUser-Employee" />
    <property name="Tel" entity="Employee" property="Tel" relationship="RoleUser-Employee" />
    <property name="Mobile" entity="Employee" property="Mobile" relationship="RoleUser-Employee" />
    <property name="Addr" entity="Employee" property="Addr" relationship="RoleUser-Employee" />
    <property name="Postcode" entity="Employee" property="Postcode" relationship="RoleUser-Employee" />
    <property name="Comment" entity="Employee" property="Comment" relationship="RoleUser-Employee" />
  </add>

  <add relationship="RoleUser-Role" type="ManyToOne" entity="RoleUser" relatedEntity="Role" >
    <property name="RoleId" relatedProperty="Id"/>
  </add>

  <add relationship="RoleUser-User" type="ManyToOne" entity="RoleUser" relatedEntity="User" >
    <property name="UserId" relatedProperty="Id"/>
  </add>

  <add relationship="RoleUser-Employee" type="ManyToOne" entity="RoleUser" relatedEntity="Employee">
    <relationship type="ManyToOne" entity="RoleUser" relatedEntity="User">
      <property name="UserId" relatedProperty="Id"/>
    </relationship>
    <relationship type="ManyToOne" entity="User" relatedEntity="Employee">
      <property name="EmployeeId" relatedProperty="Id" />
    </relationship>
  </add>

  <add entity="UserRole" collection="UserRoles" table="User_Roles" primaryKey="UserId">
    <property name="UserId" column="UserId" dataType="System.Int32" allowDbNull="false">
      <annotation name="Key" />
    </property>
    <property name="RoleId" column="RoleId" dataType="System.Int32" allowDbNull="false" />
    <property name="LoweredUserName" entity="User" property="LoweredUserName" relationship="UserRole-User" />
    <property name="RoleName" entity="Role" property="RoleName" relationship="UserRole-Role" />
    <property name="LoweredRoleName" entity="Role" property="RoleName" relationship="UserRole-Role" />
    <property name="DisplayName" entity="Role" property="DisplayName" relationship="UserRole-Role" />
    <property name="Descr" entity="Role" property="Descr" relationship="UserRole-Role" />
  </add>

  <add relationship="UserRole-User" type="ManyToOne" entity="UserRole" relatedEntity="User" >
    <property name="UserId" relatedProperty="Id"/>
  </add>

  <add relationship="UserRole-Role" type="ManyToOne" entity="UserRole" relatedEntity="Role" >
    <property name="RoleId" relatedProperty="Id"/>
  </add>

</configuration>
