<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <delta key1="key1">
    <!--<add>
      
    </add>
    <replace>
      
    </replace>-->
  </delta>
  
  <delta key1="key1" key2="key2">
    <!--<add>
      
    </add>
    <replace>
      
    </replace>-->
  </delta>
  
</configuration>