
@{
    ViewBag.Title = "User";
}

<h2>User</h2>
<hr />

<div id="details" data-plugin="renderer" class="invisible">
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">User name:</label>
        </div>
        <div class="col-sm-4">
            <p>{{UserName}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Name:</label>
        </div>
        <div class="col-sm-4">
            <p>{{Name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Gender:</label>
        </div>
        <div class="col-sm-4">
            <p>{{GenderName}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Status:</label>
        </div>
        <div class="col-sm-4">
            <p>{{IsDisabled=='true'?'<span class="text-danger">Disabled</span>':'Enabled'}}&nbsp;&nbsp;{{IsLockedOut=='true'?'<span class="text-danger">Locked</span>':'Unlocked'}}</p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        <h3>Reset password</h3>
        <hr />
        <form id="pwd-form" role="form" action="/Admin/Api/Users/Password" style="width:50%"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
            <input name="Id" type="hidden" />
            <div class="form-group">
                <label for="Password">New password</label>
                <input name="Password" class="form-control" type="password"
                       required data-bv-notempty-message="The new password is required and cannot be empty"
                       data-bv-stringlength="true" data-bv-stringlength-min="6" data-bv-stringlength-max="20"
                       data-bv-stringlength-message="The new password must be at least 6 and not more than 20 characters long" />
            </div>
            <div class="form-group">
                <div data-plugin="errorRenderer" class="text-danger">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset password</button>
            <a href="/Admin/Users/Index" class="btn btn-info">Return</a>
        </form>
        <div id="enable-disable">
            <br />
            <h3>Enable/Disable</h3>
            <hr />
            <form id="enable-disable-form" role="form" action="/Admin/Api/Users/Status" style="width:50%">
                <input name="Id" type="hidden" />
                <input name="IsDisabled" type="hidden" />
                <button type="submit" class="btn btn-primary">Enable/Disable</button>
                <a href="/Admin/Users/Index" class="btn btn-info">Return</a>
            </form>
        </div>
        <div id="unlock" class="invisible">
            <br />
            <h3>Unlock</h3>
            <hr />
            <form id="unlock-form" role="form" action="/Admin/Api/Users/LockoutStatus" style="width:50%">
                <input name="Id" type="hidden" />
                <button type="submit" class="btn btn-primary">Unlock</button>
                <a href="/Admin/Users/Index" class="btn btn-info">Return</a>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <h3>Grant roles</h3>
        <hr />
        <form id="roles-form" role="form" action="/Admin/Api/Users/Roles">
            <input name="Id" type="hidden" />
            <div class="form-group">
                <ul id="roles" class="list-group">
                    <li style="list-style:none">
                        <div class="checkbox">
                            <label>
                                <input name="RoleId" type="checkbox" value="{{Id}}" />
                                {{RoleName}}&nbsp;&nbsp;{{DisplayName}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <input class="btn btn-primary" type="submit" value="Grant roles" />
            <a href="/Admin/Users/Index" class="btn btn-info">Return</a>
        </form>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/bootstrapValidator.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/frontend/xfront/js/xfront.js"></script>

    <script>
        $(document).ready(function () {
            var set_enable_disable = function (isDisabled) {
                var text = isDisabled ? 'Disable' : 'Enable';
                $('#enable-disable').find('h3').html(text);
                var $form = $('#enable-disable').find('form');
                $form.find('[name=IsDisabled]').val(isDisabled);
                $form.find(':submit').html(text);
            };

            var set_unlock = function (isLockedOut) {
                if (isLockedOut) {
                    $('#unlock').removeClass('invisible');
                }
                else {
                    $('#unlock').add('invisible');
                }
            };

            $.getJSON('/api', {}, function (data, textStatus, jqXHR) {
                $('#details').renderer(data);

                var item = data[0];
                $('form').find('[name=Id]').val(item.Id);
                set_enable_disable(!item.IsDisabled);
                set_unlock(item.IsLockedOut);
            });

            $.getJSON('/api?name=allRoles', {}, function (data, textStatus, jqXHR) {
                $('#roles').renderer(data);
            }).done(function () {
                $.getJSON('/api?name=roles', {}, function (data, textStatus, jqXHR) {
                    $('#roles-form').deserializeObject(data);
                });
            });

            $('#pwd-form').bootstrapValidator()
                .on('success.form.bv', function (event) {
                    event.preventDefault();
                    var $form = $(event.target);
                    var bv = $form.data('bootstrapValidator');
                    var obj = $form.serializeObject();
                    var action = $form.attr('action');
                    $.put(action, obj)
                        .done(function (data, textStatus, jqXHR) {
                            alert('Password has been reset successfully.');
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            $form.find('[data-plugin=errorRenderer]').errorRenderer(jqXHR.responseJSON);
                        });
                });

            $('#enable-disable-form :submit').click(function (event) {
                event.preventDefault();
                var $form = $("#enable-disable-form");
                var obj = $form.serializeObject();
                var action = $form.attr('action');
                $.put(action, obj)
                    .done(function (data, textStatus, jqXHR) {
                        var isDisabled = obj.IsDisabled == 'true';
                        var text = isDisabled ? 'disabled' : 'enabled';
                        alert('The user has been ' + text + '.');
                        set_enable_disable(!isDisabled);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert('Error:' + errorThrown);
                    });
            });

            $('#unlock-form :submit').click(function (event) {
                event.preventDefault();
                var $form = $("#unlock-form");
                var obj = $form.serializeObject();
                var action = $form.attr('action');
                $.put(action, obj)
                    .done(function (data, textStatus, jqXHR) {
                        alert('The user has been unlocked.');
                        set_unlock(false);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert('Error:' + errorThrown);
                    });
            });

            $('#roles-form :submit').click(function (event) {
                event.preventDefault();
                var $form = $("#roles-form");
                var obj = $form.serializeArray();
                var action = $form.attr('action');
                $.put(action, obj)
                    .done(function (data, textStatus, jqXHR) {
                        alert('The user in roles has been reset successfully.');
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert('Error:' + errorThrown);
                    });
            });
        });
    </script>
}
