
@{
    ViewBag.Title = "Details";
}

<h2>Security log</h2>

<hr />

<div id="details" data-plugin="renderer" class="invisible">
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Date:</label>
        </div>
        <div class="col-sm-4">
            <p>{{var m = moment(CreatedDate); m.isValid() ? m.format('YYYY-MM-DD hh:mm:ss') : ''}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Operation:</label>
        </div>
        <div class="col-sm-4">
            <p>{{Operation}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Contents:</label>
        </div>
        <div class="col-sm-10">
            <p>{{Contents}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Operator:</label>
        </div>
        <div class="col-sm-4">
            <p>{{CreatorName}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">IsFailed:</label>
        </div>
        <div class="col-sm-4">
            <p>{{IsFailed ? 'True' : 'False'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Error:</label>
        </div>
        <div class="col-sm-10">
            <p>{{ErrorMessage}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">HttpMethod:</label>
        </div>
        <div class="col-sm-4">
            <p>{{HttpMethod}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">HostAddress:</label>
        </div>
        <div class="col-sm-4">
            <p>{{UserHostAddress}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Url:</label>
        </div>
        <div class="col-sm-10">
            <p>{{Url}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">UrlReferrer:</label>
        </div>
        <div class="col-sm-10">
            <p>{{UrlReferrer}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Accept:</label>
        </div>
        <div class="col-sm-10">
            <p>{{Accept}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">UserAgent:</label>
        </div>
        <div class="col-sm-10">
            <p>{{UserAgent}}</p>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/frontend/xfront/js/xfront.js"></script>

    <script>
        $(document).ready(function () {
            $.getJSON('/api', {}, function (data, textStatus, jqXHR) {
                $('#details').renderer(data);
            });
        });
    </script>
}
