<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <delta name="account">
    <replace entity="User">
      <property name="Password" ep-SqlDbType="nvarchar" allowDbNull="false" dataType="System.String" column="Password" ep-MaxLength="128" maxLength="128">
        <annotation name="Required">
          <argument name="AllowEmptyStrings" value="true"/>
        </annotation>
        <annotation name="MaxLength">
          <argument name="Length" value="128"/>
        </annotation>
      </property>
      <property name="PasswordCrypto" ep-SqlDbType="int" allowDbNull="false" dataType="System.Int32" column="PasswordCrypto" defaultValue="0">
        <annotation name="Required">
          <argument name="AllowEmptyStrings" value="true"/>
        </annotation>
        <annotation name="DefaultValue">
          <argument name="Value" value="0"/>
        </annotation>
      </property>
      <property name="PasswordKey" ep-SqlDbType="nvarchar" allowDbNull="true" dataType="System.String" column="PasswordKey" ep-MaxLength="50" maxLength="50">
        <annotation name="MaxLength">
          <argument name="Length" value="50"/>
        </annotation>
      </property>
      <property name="PasswordIV" ep-SqlDbType="nvarchar" allowDbNull="true" dataType="System.String" column="PasswordIV" ep-MaxLength="50" maxLength="50">
        <annotation name="MaxLength">
          <argument name="Length" value="50"/>
        </annotation>
      </property>
      <property name="FailedPasswordAttemptCount" column="FailedPasswordAttemptCount" dataType="System.Int32" allowDbNull="false" defaultValue="0" ep-SqlDbType="int">
        <annotation name="Required">
          <argument name="AllowEmptyStrings" value="true"/>
        </annotation>
        <annotation name="DefaultValue">
          <argument name="Value" value="0"/>
        </annotation>
      </property>
      <property name="FailedPasswordAttemptWindowStart" column="FailedPasswordAttemptWindowStart" dataType="System.DateTime" allowDbNull="true" ep-SqlDbType="datetime"/>
    </replace>
  </delta>

</configuration>