<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <delta name="admin">
    <add entity="Setting" collection="Settings" table="Settings" primaryKey="Id" ep-TableType="Table">
      <property name="Id" column="Id" dataType="System.Int32" allowDbNull="false" unique="true" ep-SqlDbType="int">
        <annotation name="Key"/>
      </property>
      <property name="Name" column="Name" dataType="System.String" allowDbNull="false" maxLength="50" ep-SqlDbType="nvarchar" ep-MaxLength="50">
        <annotation name="Required">
          <argument name="AllowEmptyStrings" value="true"/>
        </annotation>
        <annotation name="MaxLength">
          <argument name="Length" value="50"/>
        </annotation>
      </property>
      <property name="Value" column="Value" dataType="System.String" allowDbNull="true" maxLength="2000" ep-SqlDbType="nvarchar" ep-MaxLength="2000">
        <annotation name="MaxLength">
          <argument name="Length" value="2000"/>
        </annotation>
      </property>
      <property name="Descr" column="Descr" dataType="System.String" allowDbNull="true" maxLength="2000" ep-SqlDbType="nvarchar" ep-MaxLength="2000">
        <annotation name="MaxLength">
          <argument name="Length" value="2000"/>
        </annotation>
      </property>
      <property name="Ordinal" column="Ordinal" dataType="System.Int32" allowDbNull="false" defaultValue="0" ep-SqlDbType="int">
        <annotation name="Required">
          <argument name="AllowEmptyStrings" value="true"/>
        </annotation>
        <annotation name="DefaultValue">
          <argument name="Value" value="0"/>
        </annotation>
      </property>
      <property name="Catalog" column="Catalog" dataType="System.String" allowDbNull="false" maxLength="50" ep-SqlDbType="nvarchar" ep-MaxLength="50">
        <annotation name="Required">
          <argument name="AllowEmptyStrings" value="true"/>
        </annotation>
        <annotation name="MaxLength">
          <argument name="Length" value="50"/>
        </annotation>
      </property>
    </add>
  </delta>

</configuration>
