<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <delta key1="key1">
    <!--<add>
      
    </add>-->
    <replace entity="Employees" >
      <property name="GenderName" entity="Words" property="Name" relationship="Employees(Gender)-Words(Id)" />        
    </replace>
  </delta>
  
  <delta key1="key1" key2="key2">
    <!--<add>
      
    </add>
    <replace>
      
    </replace>-->
  </delta>
  
</configuration>