<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <delta security="non-admin">
    <remove entity="User" properties="Password,PasswordCrypto,PasswordKey,PasswordIV,FailedPasswordAttemptCount,FailedPasswordAttemptWindowStart" />
    <remove entity="Setting" />
  </delta>

</configuration>
