<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <entity name="Dicts" collection="ArrayOfDicts" primaryKey="Id" ep-TableType="Table">
    <property name="Id" dataType="System.Int32" allowDbNull="false" unique="true" ep-SqlDbType="int">
      <annotation name="MaxLenth">
        <argument name="Value" value="12" />
      </annotation>
    </property>
    <property name="Name" dataType="System.String" allowDbNull="false" maxLength="50" ep-SqlDbType="nvarchar" ep-MaxLength="50"/>
    <property name="Descr" dataType="System.String" allowDbNull="true" maxLength="2000" ep-SqlDbType="nvarchar" ep-MaxLength="2000"/>
  </entity>


</configuration>
