<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<dateFormatter name=".NET" type="XData.Data.Objects.DotNETDateFormatter">
    <format type="System.String" />
  </dateFormatter>

  <dateFormatter name="Json.NET" type="XData.Data.Objects.JsonNETFormatter" />

  <dataConverter name="json" type="XData.Data.Objects.ToJsonConverter" />
  <dataConverter name="xml" type="XData.Data.Objects.ToXmlConverter" />-->

</configuration>
